.chatBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(160, 170, 160);
    border: solid 1px rgb(140, 150, 140);
}

