.messagesBody{
    background-image: url("../../../images/CHAT_BACK.jpg");
    border-radius: 5px;
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    scroll-snap-type: y;
    scrollbar-width: thin;
    scrollbar-color: rgb(195, 195, 195) rgb(160, 170, 160);

    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
}

.messagesBody__chatName{
    margin: 15px;
    box-shadow: 0 1px rgb(195, 195, 195);
    color: rgb(205, 225, 205);
}

/* .messagesBody__messages{  
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
} */

.messagesBody__messageUser{
    background-color: rgb(160, 170, 160);
    border-radius: 5px;
    margin: 5px 15px;
    padding: 0 15px;
    max-width: 400px;
    overflow-wrap: break-word;
}

.messagesBody__messageMe{
    align-self: end;
    background-color: rgb(160, 200, 160);
    border-radius: 5px;
    margin: 5px 15px;
    padding: 0 15px;
    max-width: 400px;
    overflow-wrap: break-word;
}

.messagesBody__text{
    font-weight: 500;
    margin-bottom: 2px;
}

.messagesBody__time{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
}

