.customMenu {
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 10px;
  z-index: 1000;
  background-color: rgb(80, 95, 80);
  color: rgb(205, 225, 205);
}

.customMenu p{
  margin: 5px;
  padding: 10px;
  /* transition: all 0.1s ease; */
}

.customMenu p:hover{
  background-color: rgb(70, 85, 70);
  border-radius: 10px;
}